body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e2c47 !important;
}

lead {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    /* color: #123656; */
    line-height: 1.4;
    font-weight: 300;
}

.robo-header {
    color: #10314e !important;
}

#logo {
    color: #10314e;
    box-shadow: 0px 0px 0px 8px #133859;
    height: auto;
    width: 220px;
    margin-bottom: 30px;
}

.main-segment {
    /* width: 50%; */
    margin-top: 4rem !important;
    padding: 3rem 6rem !important;
    border-radius: 1rem !important;
    box-shadow: 0px 0px 17px -2px #000000 !important;
}

.status {
    margin-bottom: 0.5rem;
}
